<%= form_with(model: grade, local: true) do |form| %>
  <% if grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value, id: :grade_value %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :grade_date %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.select :student_id, Student.all.collect{|s|[s.to_s, s.id]} %>
  </div>

  <div class="field">
    <%= form.label :subject_id %>
    <%= form.select :subject_id, Subject.all.collect{|s|[s.name, s.id]} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
