<p id="notice"><%= notice %></p>

<h1>Grades</h1>

<%= grid(@grades_grid) do |g|

  g.column attribute: "value", name: "Hodnota"

  g.column attribute: "date", name: "Datum"

  g.column assoc: :student, attribute: "id", name: "Student" do |grade|
  	grade.student.to_s
  end
  
  g.column attribute: "name", assoc: :subject, name: "Predmet"

  g.column do |grade|
    link_to('Edit', edit_grade_path(grade))
  end
  g.column do |grade|
    link_to('Show', grade_path(grade))
  end
end -%>

<br>

<%= link_to 'Nova znamka', new_grade_path %>
