<p id="notice"><%= notice %></p>

<h1>Students</h1>

<%= grid(@students_grid) do |g|

  g.column attribute: "id", name: "ID"

  g.column attribute: "name", name: "Jmeno"

  g.column attribute: "surname", name: "Prijmeni"

  g.column do |student|
    student.age
  end

  g.column do |task|
    link_to('Edit', edit_student_path(task))
  end
  g.column do |task|
    link_to('Show', student_path(task))
  end
end -%>

<br>

<%= link_to 'New Student', new_student_path %>
