<p id="notice"><%= notice %></p>

<h1>Subjects</h1>

<%= grid(@subject_grid) do |g|

  g.column attribute: "id", name: "ID"

  g.column attribute: "name", name: "Nazev"

  g.column do |subject|
    link_to('Edit', edit_subject_path(subject))
  end
  g.column do |subject|
    link_to('Show', subject_path(subject))
  end
end -%>
<br>

<%= link_to 'New Subject', new_subject_path %>
