<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    	<%
    	menu_definition = [{body: "Students", url: students_path},
    	 {body: "Subjects", url: subjects_path},
    	 {body: "Grades", url: grades_path}	
    	]
    	
    	menu_definition.each do |item|
    		concat menu_item item[:body], item[:url] 
    	end
    	%>
    	
    	
    </ul>
  </div>
</nav>